<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-container">
      <img class="left-stars" src="../assets/left-stars.png" alt="stars" />
      <img class="right-stars" src="../assets/right-stars.png" alt="stars" />
      <div class="image-container">
        <img src="../assets/image.png" alt="Image" />
      </div>
      <div class="login-container">
        <input placeholder="Username" />
        <input placeholder="Password" />
        <button>login</button>
        <p>Forgot Password?</p>
      </div>
      <div class="footer">
        <img src="../assets/footer.png" alt="footer" />
      </div>
      <p class="create-acc">New User? Create an account.</p>
    </div>
  </body>
</html>
